
<h1><%= @player.fullName %></h1>


<ul>
	<li><%= @player.position %></li>
	<li><%= @player.height %> </li>
	<li><%= @player.weight %> lbs</li>
	<li><%= @player.age %></li>
	<li><%= @player.number %></li>
</ul>

